@import "styles/colors";
@import "styles/typography";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  @extend %font-xlarge;
}

.date {
  @extend %font-xsmall;

  color: $cr-d-grey-3;
}
