@import "styles/breakpoints";
@import "styles/container";

.container {
  width: $container-width-md;

  @media (max-width: $breakpoint-sm-max) {
    width: $container-width-sm;
  }

  @media (max-width: $breakpoint-xs-max) {
    width: $container-width-xs;
    padding-right: $container-xs-horizontal-padding;
    padding-left: $container-xs-horizontal-padding;
  }
}
