@import "styles/breakpoint";
@import "styles/container-width";

.container {
  width: $container-width-md;

  @media (max-width: $breakpoint-sm-max) {
    width: $container-width-sm;
  }

  @media (max-width: $breakpoint-xs-max) {
    width: $container-width-xs;
  }
}
