@import "styles/colors";
@import "styles/typography";

.container {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  h2 {
    @extend %font-large;

    font-weight: 500;
  }

  h3 {
    @extend %font-medium;

    font-weight: 500;
  }

  p {
    @extend %font-small;

    margin: 0;
    line-height: 1.75;
  }

  a {
    color: $cr-danger-1;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid $cr-g-grey-3;
  }

  ol,
  ul {
    margin: 0;
    line-height: 1.75;
  }

  > ol,
  > ul {
    padding: 15px;
  }

  pre {
    margin: 0;
  }

  :not(pre) code {
    @extend %font-xsmall;

    padding: 0 0.25rem;
    font-family: $font-family-code;
    background-color: $cr-alert-light;
  }
}
