$cr-l-green-1: #52ca94;
$cr-l-green-2: #7ce3b5;
$cr-l-green-3: #d6f6e8;
$cr-l-green-4: #ebfbf4;
$cr-g-grey-1: #9ca19e;
$cr-g-grey-2: #bcc2c0;
$cr-g-grey-3: #d1d6d4;
$cr-g-grey-4: #e2e6e4;
$cr-g-grey-5: #f0f2f1;
$cr-d-grey-1: #0e0e0f;
$cr-d-grey-2: #3f3f42;
$cr-d-grey-3: #626264;
$cr-d-grey-4: #7d7c7f;
