// @see https://getbootstrap.com/docs/5.2/layout/containers/

$container-width-xxl: 1320px;
$container-width-xl: 1140px;
$container-width-lg: 960px;
$container-width-md: 720px;
$container-width-sm: 540px;
$container-width-xs: 100%;
$container-xs-horizontal-padding: 12px;
