$font-family-sans: "Noto Sans TC", sans-serif;
$font-family-serif: "Noto Serif TC", serif;
$heading-font-family: $font-family-sans;
$heading-font-size-base: 1rem;
$heading-font-weight-medium: 500;
$heading-font-weight-bold: 700;
$heading-line-height: 1.2;

%heading-base {
  margin: 0;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}

$h1-font-size: $heading-font-size-base * 2.5;
$h2-font-size: $heading-font-size-base * 2;
$h3-font-size: $heading-font-size-base * 1.75;
$h4-font-size: $heading-font-size-base * 1.5;
$h5-font-size: $heading-font-size-base * 1.25;
$h6-font-size: $heading-font-size-base;

%h1 {
  @extend %heading-base;

  font-size: $h1-font-size;
  font-weight: $heading-font-weight-bold;
}

%h2 {
  @extend %heading-base;

  font-size: $h2-font-size;
  font-weight: $heading-font-weight-medium;
}

%h3 {
  @extend %heading-base;

  font-size: $h3-font-size;
  font-weight: $heading-font-weight-medium;
}

%h4 {
  @extend %heading-base;

  font-size: $h4-font-size;
  font-weight: $heading-font-weight-medium;
}

%h5 {
  @extend %heading-base;

  font-size: $h5-font-size;
  font-weight: $heading-font-weight-medium;
}

%h6 {
  @extend %heading-base;

  font-size: $h6-font-size;
  font-weight: $heading-font-weight-medium;
}

%paragraph {
  font-size: 1rem;
  line-height: 1.5;
}
