$font-family: "Figtree", "Noto Sans TC", sans-serif;
$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 16px;
$paragraph-font-size: 16px;
$description-font-size: 14px;

%font-h1 {
  font-size: $h1-font-size;
  line-height: 1;
}

%font-h2 {
  font-size: $h2-font-size;
  line-height: 1;
}

%font-h3 {
  font-size: $h3-font-size;
  line-height: 1;
}

%font-h4 {
  font-size: $h4-font-size;
  line-height: 1;
}

%font-h5 {
  font-size: $h5-font-size;
  line-height: 1;
}

%font-h6 {
  font-size: $h6-font-size;
  line-height: 1;
}

%font-paragraph {
  font-size: $paragraph-font-size;
  line-height: 1;
}

%font-description {
  font-size: $description-font-size;
  line-height: 1;
}
