$font-family: "Figtree", "Noto Sans TC", sans-serif;
$heading-font-size-base: 1rem;
$heading-line-height: 1.2;
$h1-font-size: $heading-font-size-base * 2.5;
$h2-font-size: $heading-font-size-base * 2;
$h3-font-size: $heading-font-size-base * 1.75;
$h4-font-size: $heading-font-size-base * 1.5;
$h5-font-size: $heading-font-size-base * 1.25;
$h6-font-size: $heading-font-size-base;

%h1 {
  font-size: $h1-font-size;
  line-height: $heading-line-height;
}

%h2 {
  font-size: $h2-font-size;
  line-height: $heading-line-height;
}

%h3 {
  font-size: $h3-font-size;
  line-height: $heading-line-height;
}

%h4 {
  font-size: $h4-font-size;
  line-height: $heading-line-height;
}

%h5 {
  font-size: $h5-font-size;
  line-height: $heading-line-height;
}

%h6 {
  font-size: $h6-font-size;
  line-height: $heading-line-height;
}

%paragraph {
  font-size: 1rem;
  line-height: 1.5;
}
