@import "styles/typography";

.title {
  @extend %font-xxlarge;

  font-weight: 500;
}

.author {
  padding-top: 10px;
}

.postPreviewList {
  padding-top: 50px;
}

.socialLinks {
  padding-top: 40px;
}
