.avatar {
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  &.avatarXSmall {
    width: 16px;
    height: 16px;
  }

  &.avatarSmall {
    width: 32px;
    height: 32px;
  }

  &.avatarMedium {
    width: 40px;
    height: 40px;
  }

  &.avatarLarge {
    width: 96px;
    height: 96px;
  }

  &.avatarXLarge {
    width: 128px;
    height: 128px;
  }
}
