@import "styles/typography";

.title {
  @extend %font-large;

  font-weight: 500;
}

.postHeader {
  padding-top: 20px;
}

.postContent {
  padding-top: 28px;
}

.author {
  padding-top: 40px;
}

.siblingPosts {
  padding-top: 40px;
}
