@import "styles/colors";
@import "styles/typography";

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  @extend %font-large;

  font-weight: 500;
  color: $cr-d-grey-2;
}

.date {
  @extend %font-xsmall;

  color: $cr-d-grey-3;
}
