@import "styles/colors";
@import "styles/typography";

%button-reset {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.button {
  @extend %button-reset;

  cursor: pointer;
  background-color: white;
  border-radius: 4px;

  &.buttonWithText:not(.buttonWithIcon) {
    padding: 6px 12px;
  }

  &.buttonWithIcon:not(.buttonWithText) {
    padding: 4px;
  }

  &.buttonWithText.buttonWithIcon {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px 12px;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  .text {
    font-size: 14px;
  }

  .icon,
  .text {
    color: $cr-d-grey-2;
  }

  &:hover {
    background-color: $cr-g-grey-5;

    .icon,
    .text {
      color: $cr-d-grey-2;
    }
  }

  &:active {
    background-color: $cr-g-grey-4;

    .icon,
    .text {
      color: $cr-d-grey-1;
    }
  }
}
